<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mirza Azam - About</title>
    <link rel="shortcut icon" href="/img/fav.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/common-phone.css">
</head>
<body>
    {{>header}}
    <nav>
        <ul class="ps-0 mb-0">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a class="active" href="/about">About</a>
            </li>
            <li>
                <a href="/timeline">Timeline</a>
            </li>
            <li>
                <a href="/gallery">Gallery</a>
            </li>
            <li>
                <a href="/speech">Speeches & Reports</a>
            </li>
            <li>
                <a href="/news">News & Events</a>
            </li>
            <li>
                <a href="/blogs">Blogs</a>
            </li>
            <li>
                <a href="/contact">Contacts</a>
            </li>
        </ul>
    </nav>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="me-md-2">
                        <img src="img/about.jpg" alt="photo" class="w-100 shadow max-w">
                        <div class="bt mb-4 mb-md-0">
                            <img src="img/iconmonstr-quote-5.svg" class="d-block mb-3" alt="icon">
                            <p><i>Our mission is to provide executive leadership, as well as set priorities and goals for the City and its neighbourhoods.</i></p>
                            <span>Mirza Azam</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-start align-self-lg-center align-self-start">
                    <div class="ms-2">
                        <small class="t-small">A Brief Introduction to Us</small>
                        <h1 class="b-line">Welcome to a Personal Website!</h1>
                        <p class="text-secondary text-center mn-5">Mirza Azam's role as the executive of strategic authority is to promote economic development and wealth creation, social development, and improvement of the environment. The Mirza Azam also has various other duties in relation to culture and tourism, including a responsibility for the city and its government.</p>
                        <div class="d-flex justify-content-center">
                            <a href="/timeline" class="btns mt-3">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="more_about" class="dev_work">
        <div class="container">
            <h1 class="b-line">About Mirza Azam</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="me-md-2 p-3 shadow">
                        <ul class="ps-0 mb-0 list-group">
                            <li data-display=".dev_item-1" class="mb-2 list-group-item small active">
                                OUR MEMBERS</li>
                            <li data-display=".dev_item-2" class="mb-2 list-group-item small">
                               CORE PRINCIPLES
                            </li>
                            <li data-display=".dev_item-3" class="mb-2 list-group-item small">
                               HOST A MEET AND GREET
                            </li>
                            <li data-display=".dev_item-4" class="mb-2 list-group-item small">
                               POLITICAL PROGRAM
                            </li>
                            <li data-display=".dev_item-5" class="mb-2 list-group-item small">
                               ARTS & CULTURE
                            </li>
                            <li data-display=".dev_item-6" class="mb-2 list-group-item small">
                               HOUSING & LAND
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="dev_item-1 row">
                        <div class="col-md-6">
                            <div class="mx-md-1 shadow max-w">
                                <img src="img/our_member1.jpg" alt="photo" class="w-100 dev_img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="ms-md-2 d-flex justify-content-center align-items-center flex-column">
                                    <small class="golden_small">OUR MISSION</small>
                                    <h3 class="mb-4 fw-bold">Our Members</h3>
                                    <p class="text-secondary text-center">
                                       Interested in joining us and supporting our mission? Please click below to learn more about membership.</p>
                                    <a href="/our-members" class="btns">MORE INFORMATION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dev_item-2 row d-none">
                        <div class="col-md-6">
                            <div class="mx-md-1 shadow max-w">
                                <img src="img/core_principles.jpg" alt="photo" class="w-100 dev_img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="ms-md-2 d-flex justify-content-center align-items-center flex-column">
                                    <small class="golden_small">MAIN MISSION</small>
                                    <h3 class="mb-4 fw-bold">Core Principles</h3>
                                    <p class="text-secondary text-center">We are committed to restoring honesty, integrity, and accountability to government. Explore our principals.</p>
                                    <a href="/core-principles" class="btns">MORE INFORMATION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dev_item-3 row d-none">
                        <div class="col-md-6">
                            <div class="mx-md-1 shadow max-w">
                                <img src="img/about.jpg" alt="photo" class="w-100 dev_img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="ms-md-2 d-flex justify-content-center align-items-center flex-column">
                                    <small class="golden_small">Take a action</small>
                                    <h3 class="mb-4 fw-bold">Host a meet and greet</h3>
                                    <p class="text-secondary text-center">We would like to take the opportunity and to get out to the community and hear what their major interests or problems are.</p>
                                    <a href="/host-a-meet-and-greet" class="btns">MORE INFORMATION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dev_item-4 row d-none">
                        <div class="col-md-6">
                            <div class="mx-md-1 shadow max-w">
                                <img src="img/speech.jpg" alt="photo" class="w-100 dev_img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="ms-md-2 d-flex justify-content-center align-items-center flex-column">
                                    <small class="golden_small">OUR SERVICES</small>
                                    <h3 class="mb-4 fw-bold">Political Programs</h3>
                                    <p class="text-secondary text-center">We are committed to restoring honesty, integrity, and accountability to government.</p>
                                    <a href="/political-program" class="btns">MORE INFORMATION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dev_item-5 row d-none">
                        <div class="col-md-6">
                            <div class="mx-md-1 shadow max-w">
                                <img src="img/photo-2.jpg" alt="photo" class="w-100 dev_img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="ms-md-2 d-flex justify-content-center align-items-center flex-column">
                                    <small class="golden_small">EXPLORE MY VISION ON</small>
                                    <h3 class="mb-4 fw-bold">Arts & Culture</h3>
                                    <p class="text-secondary text-center">City’s cultural industry is famous for its innovation and experimentation, its entrepreneurial energy and risk-taking. It is this that explains why the music, books and films we make are enjoyed all around the world and why it is one of the most visited cities.</p>
                                    <a href="/arts-culture" class="btns">MORE INFORMATION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dev_item-6 row d-none">
                        <div class="col-md-6">
                            <div class="mx-md-1 shadow max-w">
                                <img src="img/photo-8.jpg" alt="photo" class="w-100 dev_img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="ms-md-2 d-flex justify-content-center align-items-center flex-column">
                                    <small class="golden_small">EXPLORE MY VISION ON</small>
                                    <h3 class="mb-4 fw-bold">Housing & land</h3>
                                    <p class="text-secondary text-center">The social issue is of ensuring that members of society have a home in which to live, whether this is a house or some other kind of dwelling. Many governments have one or more housing authorities, sometimes also called a housing ministry or department.</p>
                                    <a href="/housing-land" class="btns">MORE INFORMATION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <section id="recog">
        <div class="container">
            <small class="t-small">Listen to My Speeches</small>
            <h1 class="b-line">Recognition for Mirza Azam</h1>
            <div class="row">
                <div class="col-lg-4">
                    <div class="p-4 h-100 shadow me-lg-2 bg-light">
                        <span class="d-block mb-3">
                            <img src="img/house.svg" alt="Icon">
                        </span>
                        <h4 class="fw-bold text-center">Greeting Letters for Events</h4>
                        <p class="mb-0 text-secondary text-center">We strengthen democratic institutions and support civil society by enhancing the laws and freedoms.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="p-4 h-100 shadow mx-lg-2 bg-light">
                        <span class="d-block mb-3">
                            <img src="img/house.svg" alt="Icon">
                        </span>
                        <h4 class="fw-bold text-center">Congratulatory Letters</h4>
                        <p class="mb-0 text-secondary text-center">We believe that, to bring our economy and life to the new level, we must use non-standard methods in our work.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="p-4 h-100 shadow ms-lg-2 bg-light">
                        <span class="d-block mb-3">
                            <img src="img/house.svg" alt="Icon">
                        </span>
                        <h4 class="fw-bold text-center">Proclamations From the Mayor</h4>
                        <p class="mb-0 text-secondary text-center">Democracy provides the natural environment for the effective realization of human rights</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <a href="/speech" class="btns">LEARN MORE</a>
            </div>
        </div>
    </section>
    <section id="dev_work" class="dev_work back-serv">
        <div class="container">
            <small class="t-small">Vision for the City</small>
            <h1 class="b-line">Development & Social Activities</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="me-md-2 p-3 shadow">
                        <ul class="ps-0 mb-0 list-group text-uppercase">   
                            <li data-display='.dev_item-1' class="list-group-item small active mb-2">
                                {{firstBlog.title}}
                            </li>
                            {{#each otherBlog}}
                            <li data-display='.dev_item-{{this.sno}}' class="list-group-item small mb-2">
                                {{this.title}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="dev_item-1 row">
                        <div class="col-md-6">
                            <div class="mx-md-1 shadow max-w">
                                <img src="upload/{{firstBlog.photo}}" alt="photo" class="w-100 dev_img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="ms-md-2 d-flex justify-content-center align-items-center flex-column">
                                    <small class="golden_small">EXPLORE MY VISION ON</small>
                                    <h3 class="mb-4 fw-bold">{{firstBlog.title}}</h3>
                                    <p class="text-secondary text-center">{{firstBlog.desc}}</p>
                                    <a href="/blog/{{firstBlog._id}}" class="btns">MORE INFORMATION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#each otherBlog}}
                    <div class="dev_item-{{this.sno}} row d-none">
                        <div class="col-md-6">
                            <div class="mx-md-1 shadow max-w">
                                <img src="upload/{{this.photo}}" alt="photo" class="w-100 dev_img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="ms-md-2 d-flex justify-content-center align-items-center flex-column">
                                    <small class="golden_small">EXPLORE MY VISION ON</small>
                                    <h3 class="mb-4 fw-bold">{{this.title}}</h3>
                                    <p class="text-secondary text-center">{{this.desc}}</p>
                                    <a href="/blogs/{{this._id}}" class="btns">MORE INFORMATION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <section id="upper_footer">
        <div class="d-flex justify-content-center">
            <a href="/">
                <img src="img/logo.png" alt="Logo">
            </a>
        </div>
    </section>
    <footer>
        <div class="p-3">
            Mirza Azam © 2021. All Rights Reserved. Developed by A2Z Creatives & IT
        </div>
    </footer>

    <!-- JavaScript included from here -->
    <script src="js/nav.js"></script>
    <script src="js/section-menu.js"></script>
</body>
</html>