<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mirza Azam</title>
    <link rel="shortcut icon" href="/img/fav.png" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/common-phone.css" />
    <link rel="stylesheet" href="css/index-phone.css" />
    <style>
      .logged { background: #222; color: #fff; font-size: 13px; padding: 10px
      20px; display: flex; justify-content: space-between; } .logged a { color:
      #61f0ff; }
    </style>
  </head>
  <body>
    <div id="menu" class="d-none">
      <div>
        <img src="img/logo.png" alt="Logo" />
        <ul class="mb-0">
          <li><a class="active" href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/timeline">Timeline</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/speech">Speeched & Reports</a></li>
          <li><a href="/news">News & Events</a></li>
          <li><a href="/contact">Contacts</a></li>
        </ul>
      </div>
    </div>
    <div class="logged">
      <span>Hi Mirza Azam! You're now logged in.</span>
      <a href="/admin">Go to admin panal</a>
    </div>
    <section id="hero">
      <div class="container">
        <div class="row shadow">
          <div class="col-lg-6 position-relative">
            <img src="img/menu.svg" alt="Menu" class="position-absolute" />
            <div class="logo">
              <img class="d-block mx-auto mb-3" src="img/logo.png" alt="logo" />
            </div>
            <h1 class="text-center mb-4">Integrity, Liberty & Prosperity</h1>
            <p class="lr-line text-center"><span>DEDICATED CIVIL SERVANT</span></p>
            <span class="d-block text-center">Discover where Mirza Azam stands
              on the issues you care about!</span>
            <p class="d-block text-center">Read his biography and political
              manifesto!</p>
            <div class="d-flex justify-content-center">
              <button class="btns mt-2 text-uppercase">Learn More</button>
            </div>
          </div>
          <div class="col-lg-6"></div>
        </div>
      </div>
    </section>
    <section id="quote">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img
              class="d-block w-100 shadow"
              src="img/photo-1.jpg"
              alt="photo"
            />
            <div class="bt mb-4 mb-md-0">
              <img
                src="img/iconmonstr-quote-5.svg"
                class="d-block mb-3"
                alt="icon"
              />
              <p><i>Our mission is to provide executive leadership, as well as
                  set priorities and goals for the City and its neighbourhoods.</i></p>
              <span>Mirza Azam</span>
            </div>
          </div>
          <div class="col-md-6 align-self-start align-self-lg-center">
            <h1 class="line">MIRZA AZAM (MP)</h1>
            <p class="text-secondary">Mirza Azam's role as the executive of
              strategic authority is to promote Economic Development, Social
              Development, and improvement of the People. Mirza Azam also has
              various other remarkable contribution in relation to culture and
              development, including a responsibility for the city and its
              government.</p>
            <a href="/about" class="btns">Details</a>
          </div>
        </div>
      </div>
    </section>
    <section id="know">
      <div class="container">
        <h1 class="b-line">
          KNOW MIRZA AZAM
        </h1>
        <div class="row shadow">
          <div
            class="col-lg-4 mb-lg-0 d-flex flex-column justify-content-center"
          >
            <div class="d-flex justify-content-center mb-3 me-2">
              <span>
                <img src="img/quote-1.svg" alt="Icon" />
              </span>
            </div>
            <h2 class="text-center fw-bold">Core Principles</h2>
            <b class="d-block text-center mb-3">Main Mission</b>
            <p class="text-secondary text-center">Mirza Azam is committed to
              restoring honesty, integrity, and accountability to government.
              Explore Mirza Azam's principals.</p>
            <div class="d-flex justify-content-center mt-4">
              <a href="/core-principles" class="btns">LEARN MORE</a>
            </div>
          </div>
          <div
            class="col-lg-4 mb-lg-0 d-flex flex-column justify-content-center"
          >
            <div class="d-flex justify-content-center mx-1 mb-3">
              <span>
                <img src="img/quote-2.svg" alt="Icon" />
              </span>
            </div>
            <h2 class="text-center fw-bold">Political Program</h2>
            <b class="d-block text-center mb-3">Achievement</b>
            <p class="text-secondary text-center">Mirza Azam is committed to
              restoring honesty, integrity, and accountability to government.
              Explore Mirza Azam's principals.</p>
            <div class="d-flex justify-content-center mt-4">
              <a href="/political-program" class="btns">LEARN MORE</a>
            </div>
          </div>
          <div
            class="col-lg-4 mb-lg-0 d-flex flex-column justify-content-center"
          >
            <div class="d-flex justify-content-center ms-2 mb-3">
              <span>
                <img src="img/quote-3.svg" alt="Icon" />
              </span>
            </div>
            <h2 class="text-center fw-bold">Development Program</h2>
            <b class="d-block text-center mb-3">Vision</b>
            <p class="text-secondary text-center">Mirza Azam is committed to
              restoring honesty, integrity, and accountability to government.
              Explore Mirza Azam's principals.</p>
            <div class="d-flex justify-content-center mt-4">
              <a href="/our-members" class="btns">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="welfare">
      <div class="container">
        <div class="py-5">
          <small class="d-block text-center">Be a comrade!</small>
          <h1 class="b-line mb-5">Social Welfare</h1>
          <div class="d-flex justify-content-center">
            <a href="/contact" class="btns">CONTACT US</a>
          </div>
        </div>
      </div>
    </section>
    <section id="dev_work" class="dev_work back-serv">
        <div class="container">
            <small class="t-small">Vision for the City</small>
            <h1 class="b-line">Development & Social Activities</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="me-md-2 p-3 shadow">
                        <ul class="ps-0 mb-0 list-group text-uppercase">   
                            <li data-display='.dev_item-1' class="list-group-item small active mb-2">
                                {{firstBlog.title}}
                            </li>
                            {{#each otherBlog}}
                            <li data-display='.dev_item-{{this.sno}}' class="list-group-item small mb-2">
                                {{this.title}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="dev_item-1 row">
                        <div class="col-md-6">
                            <div class="mx-md-1 shadow max-w">
                                <img src="upload/{{firstBlog.photo}}" alt="photo" class="w-100 dev_img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="ms-md-2 d-flex justify-content-center align-items-center flex-column">
                                    <small class="golden_small">EXPLORE MY VISION ON</small>
                                    <h3 class="mb-4 fw-bold">{{firstBlog.title}}</h3>
                                    <p class="text-secondary text-center">{{firstBlog.desc}}</p>
                                    <a href="/blog/{{firstBlog._id}}" class="btns">MORE INFORMATION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#each otherBlog}}
                    <div class="dev_item-{{this.sno}} row d-none">
                        <div class="col-md-6">
                            <div class="mx-md-1 shadow max-w">
                                <img src="upload/{{this.photo}}" alt="photo" class="w-100 dev_img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="ms-md-2 d-flex justify-content-center align-items-center flex-column">
                                    <small class="golden_small">EXPLORE MY VISION ON</small>
                                    <h3 class="mb-4 fw-bold">{{this.title}}</h3>
                                    <p class="text-secondary text-center">{{this.desc}}</p>
                                    <a href="/blogs/{{this._id}}" class="btns">MORE INFORMATION</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
    <section id="speech">
        <div class="container">
            <div class="widthCon">
                <small class="t-small">Listen to My Speeches</small>
                <h1 class="b-line">Most Recent Speeches</h1>
                <div class="itemDiv">
                    <!-- paginated div  -->
                    {{#each speech}}
                    <div class="item shadow">
                        <div class="border p-3">
                            <small class="text-uppercase t-small text-secondary date">{{this.date}}</small>
                            <img src='upload/{{this.photo}}' alt="photo" class="w-100 d-block mb-2 mt-2 speechImg">
                            <h3 class="fw-bold"><a class="d-block" href='blogs/{{this._id}}'>{{this.title}}</a></h3>
                            <p class="small text-secondary mb-0">
                                {{this.desc}}
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
                <div class="pagination mt-4 d-flex justify-content-center">
                    <span class="prev"><</span>
                    <span class="page_num active">1</span>
                    <span class="page_num">2</span>
                    <span class="page_num">3</span>
                    <span class="next">></span>
                </div>
            
        </div>
    </section>
    <section id="testi">
      <div class="container">
        <div class="row shadow">
          <div class="col-md-6"></div>
          <div
            class="p-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <small class="d-block text-center">Testimonials</small>
            <h1 class="b-line mb-5">
              What People Say About Mirza Azam
            </h1>
            <div class="test_silder owl-carousel owl-theme">
              <div class="item">
                <p class="text-center mb-4">
                  <i>
                    “Whenever I meet Jack Well, I say: “There’s so much you can
                    do, but, boy, could we use a mayor like you around these
                    parts!” Jack has faithfully served our city and our country
                    for years now, so my vote definitely goes to him!”
                  </i>
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <img src="img/testimonial-1.jpg" alt="Photo" />
                  <span class="d-flex flex-column">
                    <b>Mahbubul Alam Hanif</b>
                    <small class="golden_small">COUNSEL</small>
                  </span>
                </div>
              </div>
              <div class="item">
                <p class="text-center mb-4">
                  <i>
                    “We believe that, to bring our economic and social life to a
                    new level, we must use non-standard and non-traditional
                    means in our work. Tomorrow depends on your choice. And we
                    have the best people to make sure it doesn’t disappoint.”
                  </i>
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <img src="img/testimonial-2.jpg" alt="Photo" />
                  <span class="d-flex flex-column">
                    <b>Obaidul Quader</b>
                    <small class="golden_small">COUNSEL</small>
                  </span>
                </div>
              </div>
              <div class="item">
                <p class="text-center mb-4">
                  <i>
                    “Whenever I meet Jack Well, I say: “There’s so much you can
                    do, but, boy, could we use a mayor like you around these
                    parts!” Jack has faithfully served our city and our country
                    for years now, so my vote definitely goes to him!”
                  </i>
                </p>
                <div class="d-flex justify-content-center align-items-center">
                  <img src="img/testimonial-3.jpg" alt="Photo" />
                  <span class="d-flex flex-column">
                    <b>Sheikh Porosh</b>
                    <small class="golden_small">COUNSEL</small>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="news">
      <div class="container">
        <small class="t-small">
          Latest News & Events
        </small>
        <h1 class="b-line">
          The Latest News
        </h1>
        <div class="row">
          <div class="newsDiv">
            <div class="col-lg-8 mx-auto">
            <!-- main components -->
            {{#each news}}
              <div class="d-grid shadow newsItem newsItem-{{this.sno}}">
                <a href="/">
                    <img class="w-100 h-100 max-w" src='upload/{{this.photo}}' alt="photo">
                </a>
                <div class="p-3">
                  <p class="d-flex">
                      <small class="golden_small me-2 date">
                          <img src="img/calender.svg" alt="icon">
                          {{this.date}}
                      </small>
                      <small class="text-secondary">{{this.comment.length}} COMMENT</small>
                  </p>
                  <h3 class="fw-bold">{{this.title}}</h3>
                  <p class="text-secondary">{{this.desc}}</p>
                  <hr>
                  <a href='blogs/{{this._id}}' class="btns me-3">READ MORE</a>
                </div>
              </div>
            {{/each}}
            </div>
          </div>
          <!-- pagination -->
          <div class="pagination mt-4 d-flex justify-content-center">
            <span class="prev"></span>
            <span class="page_num active">1</span>
            <span class="page_num">2</span>
            <span class="page_num">3</span>
            <span class="next">></span>
          </div>
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <small class="t-small">Stay in Touch with Us</small>
        <h1 class="b-line">
          Contact Information
        </h1>
        <div class="row">
          <div class="col-md-4">
            <small class="golden_small text-center d-block">CALL US</small>
            <h4 class="text-center fw-bold">Make a Call</h4>
            <small class="text-secondary text-center d-block">+880 1700000000</small>
          </div>
          <div class="col-md-4">
            <small class="golden_small text-center d-block">VISIT US</small>
            <h4 class="text-center fw-bold">Our Location</h4>
            <small class="text-secondary text-center d-block">Madarganj,
              Jamalpur – 2000,</small>
          </div>
          <div class="col-md-4">
            <small class="golden_small text-center d-block">MAIL US</small>
            <h4 class="text-center fw-bold">Send A Message</h4>
            <small class="text-secondary text-center d-block">
              <a href="mailto:info@mirzaazam.info">info@mirzaazam.info</a>
            </small>
          </div>
        </div>
      </div>
    </section>
    <section id="upper_footer">
      <div class="d-flex justify-content-center">
        <a href="/">
          <img src="img/logo.png" alt="Logo" />
        </a>
      </div>
    </section>
    <footer>
      <div class="p-3">
        Mirza Azam © 2021. All Rights Reserved. Developed by A2Z Creatives & IT
      </div>
    </footer>

    <!-- JavaScript included -->

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/section-menu.js"></script>
    <script src="js/index.js"></script>
    <script>
        const backend = `${{speech.length}}`;
        const itemLength = parseInt(backend.replace("$",''))

        console.log(itemLength)

        // speech section Pagination logic

        const page_num = document.querySelectorAll("#speech .pagination span.page_num");
        const prev = document.querySelector("#speech .pagination .prev");
        const next = document.querySelector("#speech .pagination .next");
        let currentPage = 1;
        function currentPageChange(num){
            currentPage = parseInt(num);
            console.log(currentPage)
            paginating(currentPage)
        }
        // How much item should be displayed
        let limit;

        window.addEventListener('resize', limit)
        function limitFunc(){
            if(innerWidth < 992 && innerWidth >600){
                limit = 2;
            }else if(innerWidth<600){
                limit = 1;
            }else{
                limit=3
            }
        }
        limitFunc()

        const lastIndex = Math.ceil(itemLength / limit);

        prev.addEventListener('click', ()=>{
            page_num[0].innerHTML = parseInt(page_num[0].innerHTML) - 3;
            page_num[1].innerHTML = parseInt(page_num[1].innerHTML) - 3;
            page_num[2].innerHTML = parseInt(page_num[2].innerHTML) - 3;
            prevDisplay()
            page_numActive(page_num[2])
        })
        next.addEventListener('click', ()=>{
            page_num[0].innerHTML = parseInt(page_num[0].innerHTML) + 3;
            page_num[1].innerHTML = parseInt(page_num[1].innerHTML) + 3;
            page_num[2].innerHTML = parseInt(page_num[2].innerHTML) + 3;
            prevDisplay()
            page_numActive(page_num[0])
        })

        function prevDisplay(){
            if(parseInt(page_num[0].innerHTML) === 1){
                prev.classList.add("d-none")
            }else{
                prev.classList.remove("d-none")
            }
            if(parseInt(page_num[2].innerHTML) === lastIndex){
                next.classList.add("d-none")
            }else{
                if(parseInt(page_num[1].innerHTML) === lastIndex){
                    page_num[2].classList.add("d-none");
                    next.classList.add("d-none")
                }else{
                    if(parseInt(page_num[0].innerHTML) === lastIndex){
                        page_num[1].classList.add("d-none");
                        page_num[2].classList.add("d-none");
                        next.classList.add("d-none")
                    }else{
                        page_num[1].classList.remove("d-none");
                        page_num[2].classList.remove("d-none");
                        next.classList.remove("d-none")
                    }
                }
            }
        }
        prevDisplay();

        for(const elem of page_num){
            elem.addEventListener("click",(e)=>{
                page_numActive(e.target)
            })
        }

        // this function will always be same
        function page_numActive(element){
            element.classList.add("active");
            
            currentPageChange(element.innerHTML)
            
            if(element.previousElementSibling){
                if(element.previousElementSibling.getAttribute('class').replace("page_num ",'') == 'active'){
                    element.previousElementSibling.classList.remove("active");
                }
                if(element.previousElementSibling.previousElementSibling){
                    if(element.previousElementSibling.previousElementSibling.getAttribute('class').replace("page_num ",'') == 'active'){
                        element.previousElementSibling.previousElementSibling.classList.remove("active");
                    }
                }
            }
            if(element.nextElementSibling){
                if(element.nextElementSibling.getAttribute('class').replace("page_num ",'') == 'active'){
                    element.nextElementSibling.classList.remove("active");
                }
                if(element.nextElementSibling.nextElementSibling){
                    if(element.nextElementSibling.nextElementSibling.getAttribute('class').replace("page_num ",'') == 'active'){
                        element.nextElementSibling.nextElementSibling.classList.remove("active");
                    }
                }
            }
        }

        const widthCon = document.querySelector('#speech .widthCon');
        const itemDiv = document.querySelector('#speech .itemDiv');

        function widthSpeech(){
            const itemWidth = widthCon.clientWidth;
            const items = document.querySelectorAll('#speech .item');

             for(const item of items){
                item.style.width = (itemWidth / 3)+'px';
                if(innerWidth < 600){
                    item.style.width = itemWidth +'px';
                    console.log('<600')
                }
                if(innerWidth < 992 && innerWidth > 600){
                    item.style.width = (itemWidth / 2)+'px';
                    console.log('<992')
                }
            }
        }
        widthSpeech()
        window.addEventListener('resize',widthSpeech);

        function paginating(num){
            itemDiv.style.transform = `translateX(-${widthCon.clientWidth * (num-1)}px)`
        }

        const dates = document.querySelectorAll('.date');

        for(const d of dates){
            d.innerText = moment(d.innerText).format('LLL');
        }

        // Jquery owl carousel
        $('.owl-carousel').owlCarousel({
            items:1,
            loop:true,
            margin:10,
            items:1
        })

        // news section pagination logic

        const page_numNews = document.querySelectorAll("#news .pagination span.page_num");
        const prevNews = document.querySelector("#news .pagination .prev");
        const nextNews = document.querySelector("#news .pagination .next");
        let currentPageNews = 1;
        function currentPageChangeNews(num){
            currentPageNews = parseInt(num);
            console.log(currentPageNews)
            paginatingNews(num)
        }

        const backend2 = `${{speech.length}}`;
        const itemNewsLength = parseInt(backend2.replace("$",''))

        const lastIndexNews = Math.ceil(itemNewsLength / limit);

        prevNews.addEventListener('click', ()=>{
            page_numNews[0].innerHTML = parseInt(page_numNews[0].innerHTML) - limit;
            page_numNews[1].innerHTML = parseInt(page_numNews[1].innerHTML) - limit;
            page_numNews[2].innerHTML = parseInt(page_numNews[2].innerHTML) - limit;
            prevDisplayNews()
            page_numActiveNews(page_numNews[2])
        })
        nextNews.addEventListener('click', ()=>{
            page_numNews[0].innerHTML = parseInt(page_numNews[0].innerHTML) + limit;
            page_numNews[1].innerHTML = parseInt(page_numNews[1].innerHTML) + limit;
            page_numNews[2].innerHTML = parseInt(page_numNews[2].innerHTML) + limit;
            prevDisplayNews()
            page_numActiveNews(page_numNews[0])
        })
        function prevDisplayNews(){
            if(parseInt(page_numNews[0].innerHTML) === 1){
                prevNews.classList.add("d-none")
            }else{
                prevNews.classList.remove("d-none")
            }
            if(parseInt(page_numNews[2].innerHTML) === lastIndexNews){
                nextNews.classList.add("d-none")
            }else{
                if(parseInt(page_numNews[1].innerHTML) === lastIndexNews){
                    page_numNews[2].classList.add("d-none");
                    nextNews.classList.add("d-none")
                }else{
                    if(parseInt(page_numNews[0].innerHTML) === lastIndexNews){
                        page_numNews[1].classList.add("d-none");
                        page_numNews[2].classList.add("d-none");
                        nextNews.classList.add("d-none")
                    }else{
                        page_numNews[1].classList.remove("d-none");
                        page_numNews[2].classList.remove("d-none");
                        nextNews.classList.remove("d-none")
                    }
                }
            }
        }
        prevDisplayNews();

        for(const elemNews of page_numNews){
            elemNews.addEventListener("click",(e)=>{
                page_numActiveNews(e.target)
            })
        }

        //Paginating div logic


        function page_numActiveNews(element){
            element.classList.add("active");
            
            currentPageChangeNews(element.innerHTML)
            if(element.previousElementSibling){
                if(element.previousElementSibling.getAttribute('class').replace("page_num ",'') == 'active'){
                    element.previousElementSibling.classList.remove("active");
                }
                if(element.previousElementSibling.previousElementSibling){
                    if(element.previousElementSibling.previousElementSibling.getAttribute('class').replace("page_num ",'') == 'active'){
                        element.previousElementSibling.previousElementSibling.classList.remove("active");
                    }
                }
            }
            if(element.nextElementSibling){
                if(element.nextElementSibling.getAttribute('class').replace("page_num ",'') == 'active'){
                    element.nextElementSibling.classList.remove("active");
                }
                if(element.nextElementSibling.nextElementSibling){
                    if(element.nextElementSibling.nextElementSibling.getAttribute('class').replace("page_num ",'') == 'active'){
                        element.nextElementSibling.nextElementSibling.classList.remove("active");
                    }
                }
            }
        }

        function paginatingNews(num){
          let item = document.querySelectorAll('#news .newsItem');
          let className1 = `newsItem-${(num*2) - 1}`;
          let className2 = `newsItem-${num*2}`;

          let item1 = document.getElementsByClassName(className1)[0];

          for(let i of item){
            i.classList.add('d-none');
          }
          item1.classList.remove('d-none');
          if(document.getElementsByClassName(className2)[0]){
            document.getElementsByClassName(className2)[0].classList.remove('d-none');
          }
        }
        paginatingNews(1)
    </script>
  </body>
</html>