<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mirza Azam - Timeline</title>
    <link rel="shortcut icon" href="/img/fav.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/speech-slider.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="css/common-phone.css">
</head>
<body>
    <div id="video" class="d-none">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/61MIKyqf4kw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    </div>
    {{>header}}
    <nav>
        <ul class="ps-0 mb-0">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a class="active" href="/timeline">Timeline</a>
            </li>
            <li>
                <a href="/gallery">Gallery</a>
            </li>
            <li>
                <a href="/speech">Speeches & Reports</a>
            </li>
            <li>
                <a href="/news">News & Events</a>
            </li>
            <li>
                <a href="/blogs">Blogs</a>
            </li>
            <li>
                <a href="/contact">Contacts</a>
            </li>
        </ul>
    </nav>
    <section id="main">
        <div class="container">
            <div class="row justify-content-between gy-3 gy-lg-0">
                <div class="col-md-7 col-lg-6">
                    <small class="t-small">A Brief Introduction to Us</small>
                    <h1 class="b-line">Welcome to a Personal Website!</h1>
                    <p class="text-secondary text-center">Mirza Azam’s role as the executive of strategic authority is to promote economic development and wealth creation, social development, and improvement of the environment. The MP also has various other duties in relation to culture and tourism, including responsibility for the city and its government.</p>
                </div>
                <div class="col-md-5">
                    <img src="img/photo-2.jpg" alt="Photo" class="w-100 shadow max-w">
                </div>
                <div class="col-md-6 shadow videoBtn align-self-start mt-md-0 mt-4 max-w">
                    <span class="position-absolute">
                        <img src="img/video.svg" alt="Video">
                        <span></span>
                        <span></span>
                    </span>
                    <img src="img/family.png" alt="photo" class="w-100">
                </div>
                <div class="col-md-5 mt-lg-4">
                    <div class="d-flex flex-column">
                        <div>
                            <img src="img/icon-1.svg" alt="icon">
                            <div>
                                <h5 class="fw-bold">Political Program</h5>
                                <p class="text-secondary mb-0">We are committed to restoring honesty, integrity and accountability to government.</p>
                            </div>
                        </div>
                        <div>
                            <img src="img/icon-2.svg" alt="icon">
                            <div>
                                <h5 class="fw-bold">Core Principals</h5>
                                <p class="text-secondary mb-0">The values of free dom, respect for human rights and the principle of holding elections.</p>
                            </div>
                        </div>
                        <div>
                            <img src="img/icon-3.svg" alt="icon">
                            <div>
                                <h5 class="fw-bold">Our Members</h5>
                                <p class="text-secondary mb-0">Interested in joining us and supporting our mission? Please click below to fill out the form.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bio">
        <div class="container">
            <small class="t-small text-light">My Way</small>
            <h1 class="b-line">My Biography</h1>
            <div class="slider owl-carousel owl-theme">
                <div class="item videoBtn">
                    <img src="img/speech.jpg" alt="Photo">
                    <span class="position-absolute">
                        <img src="img/video.svg" alt="Video">
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div class="item">
                    <small>1995</small>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>            
                </div>
                <div class="item">
                    <small>2002</small>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>            
                </div>
                <div class="item">
                    <small>2010</small>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>            
                </div>
            </div>
        </div>
    </section>
    <section id="speech">
        <div class="container">
            <div class="widthCon">
                <small class="t-small">Listen to My Speeches</small>
                <h1 class="b-line">Most Recent Speeches</h1>
                <div class="itemDiv">
                    <!-- paginated div  -->
                    {{#each speech}}
                    <div class="item shadow">
                        <div class="border p-3">
                            <small class="text-uppercase t-small text-secondary date">{{this.date}}</small>
                            <img src='upload/{{this.photo}}' alt="photo" class="w-100 d-block mb-2 mt-2 speechImg">
                            <h3 class="fw-bold"><a class="d-block" href='blogs/{{this._id}}'>{{this.title}}</a></h3>
                            <p class="small text-secondary mb-0">
                                {{this.desc}}
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
                <div class="pagination mt-4 d-flex justify-content-center">
                    <span class="prev"><</span>
                    <span class="page_num active">1</span>
                    <span class="page_num">2</span>
                    <span class="page_num">3</span>
                    <span class="next">></span>
                </div>
            
        </div>
    </section>
    <section id="as-a-mp">
        <div class="container">
            <div class="row gy-3 gy-md-0">
                <div class="col-md-6">
                    <img class="w-100 shadow max-w" src="img/photo-6.jpg" alt="photo">
                </div>
                <div class="col-md-6">
                    <small class="t-small">What We Stand for</small>
                    <h1 class="b-line">As a MP, Mirza Azam:</h1>
                    <ul class="ps-0 mb-0">
                        <li>
                            <img src="img/current.svg" alt="Icon">
                            CAP CITY SPENDING TO RESPECT HARDWORKING TAXPAYERS
                        </li>
                        <li>
                            <img src="img/current.svg" alt="Icon">
                            ENFORCE QUALITY OF LIFE LAWS TO CLEAN UP OUR STREETS
                        </li>
                        <li>
                            <img src="img/current.svg" alt="Icon">
                            SUPPORT OUR VETERANS AND SENIORS
                        </li>
                        <li>
                            <img src="img/current.svg" alt="Icon">
                            PROMOTE AN ENVIRONMENT IN WHICH SMALL BUSINESSES CAN CREATE JOBS
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="birthday">
        <div class="container">
            <div class="row gy-md-0 gy-4 justify-content-between align-items-center">
                <div class="col-md-7 text-center text-md-center">
                    <h1>Birthday History</h1>
                    <p class="mb-0">Azam was born on 13 September 1962 at Sukhnagari village in Jamalpur District. His father is Mirza Abul Kashem and mother is Nurunnahar Begum. He was a well-known figure of student politics in Jamalpur.</p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <img class="w-100 shadow max-w" src="img/photo-3-mini.jpg" alt="photo">
                </div>
            </div>

        </div>
    </section>
    <section id="upper_footer">
        <div class="d-flex justify-content-center">
            <a href="/">
                <img src="img/logo.png" alt="Logo">
            </a>
        </div>
    </section>
    <footer>
        <div class="p-3">
            Mirza Azam © 2021. All Rights Reserved. Developed by A2Z Creatives & IT
        </div>
    </footer>

    <!-- JavaScript is included -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/nav.js"></script>
    <script src="js/timeline.js"></script>
    <script>
        const backend = `${{speech.length}}`;
        const itemLength = parseInt(backend.replace("$",''))

        console.log(itemLength)

        // speech section Pagination logic

        const page_num = document.querySelectorAll("#speech .pagination span.page_num");
        const prev = document.querySelector("#speech .pagination .prev");
        const next = document.querySelector("#speech .pagination .next");
        let currentPage = 1;
        function currentPageChange(num){
            currentPage = parseInt(num);
            console.log(currentPage)
            paginating(currentPage)
        }
        // How much item should be displayed
        let limit;

        window.addEventListener('resize', limit)
        function limitFunc(){
            if(innerWidth < 992 && innerWidth >600){
                limit = 2;
            }else if(innerWidth<600){
                limit = 1;
            }else{
                limit=3
            }
        }
        limitFunc()

        const lastIndex = Math.ceil(itemLength / limit);

        prev.addEventListener('click', ()=>{
            page_num[0].innerHTML = parseInt(page_num[0].innerHTML) - 3;
            page_num[1].innerHTML = parseInt(page_num[1].innerHTML) - 3;
            page_num[2].innerHTML = parseInt(page_num[2].innerHTML) - 3;
            prevDisplay()
            page_numActive(page_num[2])
        })
        next.addEventListener('click', ()=>{
            page_num[0].innerHTML = parseInt(page_num[0].innerHTML) + 3;
            page_num[1].innerHTML = parseInt(page_num[1].innerHTML) + 3;
            page_num[2].innerHTML = parseInt(page_num[2].innerHTML) + 3;
            prevDisplay()
            page_numActive(page_num[0])
        })

        function prevDisplay(){
            if(parseInt(page_num[0].innerHTML) === 1){
                prev.classList.add("d-none")
            }else{
                prev.classList.remove("d-none")
            }
            if(parseInt(page_num[2].innerHTML) === lastIndex){
                next.classList.add("d-none")
            }else{
                if(parseInt(page_num[1].innerHTML) === lastIndex){
                    page_num[2].classList.add("d-none");
                    next.classList.add("d-none")
                }else{
                    if(parseInt(page_num[0].innerHTML) === lastIndex){
                        page_num[1].classList.add("d-none");
                        page_num[2].classList.add("d-none");
                        next.classList.add("d-none")
                    }else{
                        page_num[1].classList.remove("d-none");
                        page_num[2].classList.remove("d-none");
                        next.classList.remove("d-none")
                    }
                }
            }
        }
        prevDisplay();

        for(const elem of page_num){
            elem.addEventListener("click",(e)=>{
                page_numActive(e.target)
            })
        }

        // this function will always be same
        function page_numActive(element){
            element.classList.add("active");
            
            currentPageChange(element.innerHTML)
            
            if(element.previousElementSibling){
                if(element.previousElementSibling.getAttribute('class').replace("page_num ",'') == 'active'){
                    element.previousElementSibling.classList.remove("active");
                }
                if(element.previousElementSibling.previousElementSibling){
                    if(element.previousElementSibling.previousElementSibling.getAttribute('class').replace("page_num ",'') == 'active'){
                        element.previousElementSibling.previousElementSibling.classList.remove("active");
                    }
                }
            }
            if(element.nextElementSibling){
                if(element.nextElementSibling.getAttribute('class').replace("page_num ",'') == 'active'){
                    element.nextElementSibling.classList.remove("active");
                }
                if(element.nextElementSibling.nextElementSibling){
                    if(element.nextElementSibling.nextElementSibling.getAttribute('class').replace("page_num ",'') == 'active'){
                        element.nextElementSibling.nextElementSibling.classList.remove("active");
                    }
                }
            }
        }

        const widthCon = document.querySelector('#speech .widthCon');
        const itemDiv = document.querySelector('#speech .itemDiv');

        function widthSpeech(){
            const itemWidth = widthCon.clientWidth;
            const items = document.querySelectorAll('#speech .item');

            for(const item of items){
                item.style.width = (itemWidth / 3)+'px';
                if(innerWidth < 600){
                    item.style.width = itemWidth +'px';
                    console.log('<600')
                }
                if(innerWidth < 992 && innerWidth > 600){
                    item.style.width = (itemWidth / 2)+'px';
                    console.log('<992')
                }
            }
            console.log(itemWidth)
        }
        widthSpeech()
        window.addEventListener('resize',widthSpeech);

        function paginating(num){
            itemDiv.style.transform = `translateX(-${widthCon.clientWidth * (num-1)}px)`
        }

        const dates = document.querySelectorAll('.date');

        for(const d of dates){
            d.innerText = moment(d.innerText).format('LLL');
        }

    </script>
</body>
</html>